<!--error message-->
<% if @book.errors.any? %>
  <div class="form-error">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="col-xs-3">
      <h1>User info</h1>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <!--編集する場合の条件分岐-->
      <% if user.id == current_user.id %>
          <!--編集用ボタン-->
          <div class=" button">
            <%= link_to "", edit_user_path(user), class: "user_edit col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
          </div>
      <% end %>
      <!--本投稿-->
      <h2>New book</h2>
      <%= form_with(model:book, local:true) do |f| %>
        <!--post form-->
          <div class= "post">
              <%= f.label :title %>
              <br><%= f.text_field :title, class: "col-xs-12" %></br>
              <br><%= f.label :opinion %><br>
              <%= f.text_area :body, class: "col-xs-12 book_title" %>
              <div class=" button"><%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %></div>
          </div>
      <% end %>
</div>