<h1>User info</h1>
<%= form_with model:@user, local:true do |f| %>
  <p>name</p>
  <%= text_field :name, autofocus: true %>
  <textarea></textarea>
  <p>image</p>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
  <p>Introduction</p>
  <%= text_field :introduction, autofocus: true %>
  <%= f.submit "Update User" %>
<% end %>