<% if @book_comment.errors.any? %>
  <div class="form-error">
    <h2><%= pluralize(@book_comment.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @book_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class= "container">
  <div class= "row">
    <%= render 'users/list', user: @book_show.user, book: @book %>
      <!--books show-->
      <div class="col-xs-9">
       <h1>Book detail</h1>
        <table class="table">
            <tr>
              <td>
                <%= link_to user_path(@book_show.user.id) do %>
                <%= attachment_image_tag @book_show.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
                <%= @book_show.user.name %>
                <% end %>
              </td>
              <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
              <td><%= @book_show.body %></td>
              <td>
                <!--いいね機能-->
                <div id="favorites_buttons_<%= @book_show.id %>">
                 <%= render 'favorites/favorites',{ book: @book_show} %>
                </div>
              </td>
              <!--コメントカウント-->
              <td>
                コメント数：<%= @book_show.book_comments.count %>
              </td>
              <!--ログイン中のユーザー＝投稿ユーザーの場合-->
              <% if @book_show.user == current_user %>
                <td class= "link"><%= link_to "Edit", edit_book_path(@book_show.id), class: "btn-sm btn-success" %></td>
                <td class= "link">
                  <%= link_to "Destroy",book_path(@book_show.id), class: "btn-sm btn-danger", method: :delete,"data-confirm" => "Are you sure?" %>
                </td>
              <% end %>
            </tr>
        </table>
        <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'book_comments/comment_area', locals: { book: @book_show, book_comment: @book_comment } %>
          <div class="allcomments">
            <%= render partial: 'book_comments/comment', locals: { book: @book_show } %>
          </div>
        <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      </div>
  </div>
</div>