<div class= "container">
  <div class= "row">
    <%= render 'users/list', user: @book_show.user, book: @book %>
      <!--books show-->
      <div class="col-xs-9">
       <h1>Book detail</h1>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @book_show.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                <br>
                <%= @book_show.user.name %>
              </td>
              <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
              <td><%= @book_show.body %></td>
              <!--ログイン中のユーザー＝投稿ユーザーの場合-->
              <% if @book_show.user == current_user %>
                <td class= "link"><%= link_to "Edit", edit_book_path(@book_show.id), class: "btn-sm btn-success" %></td>
                <td class= "link">
                  <%= link_to "Destroy",book_path(@book_show.id), class: "btn-sm btn-danger", method: :delete,"data-confirm" => "Are you sure?" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>